</table>

<div style="font-size:11px;color:#ccc;border-top:1px solid #ccc;padding-top:5px;">This email was sent to <a style="text-decoration: none;color:#08C;font-size:11px;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;" href="mailto:%(email)s" target="_blank">%(email)s</a>. If you no longer wish to recieve these emails, <a style="text-decoration: none;color:#08C;font-size:11px;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;" href="http://singleyet.com/settings/" target="_blank">unsubscribe</a>.</div>

</body>
</html>