<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div style="background-color: #1B1B1B;color: #fff;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;padding:3px 10px;font-size: 20px;color: #999;font-weight:200;margin-bottom: 15px;"><img src="http://singleyet.com/img/logo_sm.png" width="20" /> SingleYet?</div>

<strong>People have been changing their relationship statuses</strong>
<p>Check to see who is <em>single</em> and message them!</p>

<table width="320" cellspacing="7" style="margin: 10px 0 20px;">